- ランダムフォレスト
- データ数　train.csv　40428968/40428968
- 　　　　　test.csv　4577465/4577465

In [1]:
train_kensu = 1000000
test_kensu = 4577465
kensu_str  = '1000000'
submit_csv_name = 'submit_Quantitative_variable_' + kensu_str + '.csv'

## 必要なライブラリを読み込む

In [2]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

## データ用が多いので、絞って読み込み

In [3]:
train_fname = 'train.csv'
reader = pd.read_csv(train_fname, chunksize=train_kensu)

In [4]:
df_train = reader.get_chunk(train_kensu)

In [5]:
df_train.shape

(1000000, 24)

In [6]:
df_train.head()

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,1.000009e+18,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,2,15706,320,50,1722,0,35,-1,79
1,1.000017e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,100084,79
2,1.000037e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,100084,79
3,1.000064e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15706,320,50,1722,0,35,100084,79
4,1.000068e+19,0,14102100,1005,1,fe8cc448,9166c161,0569f928,ecad2386,7801e8d9,...,1,0,18993,320,50,2161,0,35,-1,157

In [7]:
df_train.columns

Index(['id', 'click', 'hour', 'C1', 'banner_pos', 'site_id', 'site_domain',
       'site_category', 'app_id', 'app_domain', 'app_category', 'device_id',
       'device_ip', 'device_model', 'device_type', 'device_conn_type', 'C14',
       'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21'],
      dtype='object')

## データの欠損値、型、columnsを確認

In [8]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 24 columns):
id                  1000000 non-null float64
click               1000000 non-null int64
hour                1000000 non-null int64
C1                  1000000 non-null int64
banner_pos          1000000 non-null int64
site_id             1000000 non-null object
site_domain         1000000 non-null object
site_category       1000000 non-null object
app_id              1000000 non-null object
app_domain          1000000 non-null object
app_category        1000000 non-null object
device_id           1000000 non-null object
device_ip           1000000 non-null object
device_model        1000000 non-null object
device_type         1000000 non-null int64
device_conn_type    1000000 non-null int64
C14                 1000000 non-null int64
C15                 1000000 non-null int64
C16                 1000000 non-null int64
C17                 1000000 non-null int64
C18                 1000000 non-null int64
C19                 1000000 non-null int64
C20                 1000000 non-null int64
C21                 1000000 non-null int64
dtypes: float64(1), int64(14), object(9)
memory usage: 183.1+ MB

## ラベルエンコーディングの実施

In [9]:
def labelencording(df_train):

#LabelEncoderのインスタンスを生成
    le = LabelEncoder()
    #ラベルを覚えさせる
    le = le.fit(df_train['C1'])
    df_train['C1'] = le.transform(df_train['C1'])

    le = le.fit(df_train['banner_pos'])
    df_train['banner_pos'] = le.transform(df_train['banner_pos'])

    le = le.fit(df_train['banner_pos'])
    df_train['banner_pos'] = le.transform(df_train['banner_pos'])

    le = le.fit(df_train['site_id'])
    df_train['site_id'] = le.transform(df_train['site_id'])

    le = le.fit(df_train['site_domain'])
    df_train['site_domain'] = le.transform(df_train['site_domain'])

    le = le.fit(df_train['site_category'])
    df_train['site_category'] = le.transform(df_train['site_category'])

    le = le.fit(df_train['app_id'])
    df_train['app_id'] = le.transform(df_train['app_id'])

    le = le.fit(df_train['app_domain'])
    df_train['app_domain'] = le.transform(df_train['app_domain'])

    le = le.fit(df_train['app_category'])
    df_train['app_category'] = le.transform(df_train['app_category'])

    le = le.fit(df_train['device_id'])
    df_train['device_id'] = le.transform(df_train['device_id'])

    le = le.fit(df_train['device_ip'])
    df_train['device_ip'] = le.transform(df_train['device_ip'])

    le = le.fit(df_train['device_model'])
    df_train['device_model'] = le.transform(df_train['device_model'])

    le = le.fit(df_train['device_type'])
    df_train['device_type'] = le.transform(df_train['device_type'])

    le = le.fit(df_train['device_conn_type'])
    df_train['device_conn_type'] = le.transform(df_train['device_conn_type'])

    le = le.fit(df_train['C14'])
    df_train['C14'] = le.transform(df_train['C14'])

    le = le.fit(df_train['C15'])
    df_train['C15'] = le.transform(df_train['C15'])

    le = le.fit(df_train['C16'])
    df_train['C16'] = le.transform(df_train['C16'])

    le = le.fit(df_train['C17'])
    df_train['C17'] = le.transform(df_train['C17'])

    le = le.fit(df_train['C18'])
    df_train['C18'] = le.transform(df_train['C18'])

    le = le.fit(df_train['C19'])
    df_train['C19'] = le.transform(df_train['C19'])

    le = le.fit(df_train['C20'])
    df_train['C20'] = le.transform(df_train['C20'])

    le = le.fit(df_train['C21'])
    df_train['C21'] = le.transform(df_train['C21'])
    
    df_train.head()

    return df_train

In [10]:
df_train = labelencording(df_train).copy()

In [11]:
df_train.head()

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,1.000009e+18,0,14102100,2,0,260,1927,2,2127,73,...,1,1,189,3,2,43,0,1,0,19
1,1.000017e+19,0,14102100,2,0,260,1927,2,2127,73,...,1,0,187,3,2,43,0,1,62,19
2,1.000037e+19,0,14102100,2,0,260,1927,2,2127,73,...,1,0,187,3,2,43,0,1,62,19
3,1.000064e+19,0,14102100,2,0,260,1927,2,2127,73,...,1,0,189,3,2,43,0,1,62,19
4,1.000068e+19,0,14102100,2,1,2053,1165,0,2127,73,...,1,0,292,3,2,84,0,1,0,33

## hour列から　月、日、曜日、時を抜き出すために関数を用意

In [12]:
from datetime import datetime as dt
# hour列から　月、日、曜日、時を抜き出すために関数を用意

def get_month_from_time(x):
    time_date = dt.strptime(str(x), "%y%m%d%H")
    return time_date.month
def get_day_from_time(x):
    time_date = dt.strptime(str(x), "%y%m%d%H")
    return time_date.day
def get_weekday_from_time(x):
    time_date = dt.strptime(str(x), "%y%m%d%H")
    return time_date.weekday()
def get_hour_from_time(x):
    time_date = dt.strptime(str(x), "%y%m%d%H")
    return time_date.hour

In [13]:
def preprocess(df_train):
    
    # 上記で作成した関数をapplyで一括適用
    df_train["hour_month"] = df_train["hour"].apply(get_month_from_time)
    df_train["hour_day"] = df_train["hour"].apply(get_day_from_time)
    df_train["hour_weekday"] = df_train["hour"].apply(get_weekday_from_time)
    df_train["hour_hour"] = df_train["hour"].apply(get_hour_from_time)
   
    # カテゴリ変数からダミー変数の作成
#    X = df_train.iloc[:, 0:28]
#    colnames_categorical = ['site_id', 'site_domain','site_category', 'app_id', 'app_domain', 'app_category', 'device_id','device_ip', 'device_model']
#    X_dummy = pd.get_dummies(X[colnames_categorical])
#   X = pd.merge(X, X_dummy, left_index=True, right_index=True)
#   X = df_train.drop(colnames_categorical, axis=1)
    
    
    return df_train

In [14]:
#X = preprocess(df_train)

In [15]:
df_train.head()

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,1.000009e+18,0,14102100,2,0,260,1927,2,2127,73,...,1,1,189,3,2,43,0,1,0,19
1,1.000017e+19,0,14102100,2,0,260,1927,2,2127,73,...,1,0,187,3,2,43,0,1,62,19
2,1.000037e+19,0,14102100,2,0,260,1927,2,2127,73,...,1,0,187,3,2,43,0,1,62,19
3,1.000064e+19,0,14102100,2,0,260,1927,2,2127,73,...,1,0,189,3,2,43,0,1,62,19
4,1.000068e+19,0,14102100,2,1,2053,1165,0,2127,73,...,1,0,292,3,2,84,0,1,0,33

## ターゲット変数と特徴量を指定してsklearnに渡せるように準備する

In [16]:
target_col = 'click'
exclude_cols = ['click', 'id', 'hour']
feature_cols = [col for col in df_train.columns if col not in exclude_cols]

In [17]:
feature_cols

['C1',
 'banner_pos',
 'site_id',
 'site_domain',
 'site_category',
 'app_id',
 'app_domain',
 'app_category',
 'device_id',
 'device_ip',
 'device_model',
 'device_type',
 'device_conn_type',
 'C14',
 'C15',
 'C16',
 'C17',
 'C18',
 'C19',
 'C20',
 'C21']

## 説明変数（特徴量）

In [18]:
df_train[feature_cols].head()

,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,device_ip,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,2,0,260,1927,2,2127,73,0,55298,271188,...,1,1,189,3,2,43,0,1,0,19
1,2,0,260,1927,2,2127,73,0,55298,183948,...,1,0,187,3,2,43,0,1,62,19
2,2,0,260,1927,2,2127,73,0,55298,219724,...,1,0,187,3,2,43,0,1,62,19
3,2,0,260,1927,2,2127,73,0,55298,283827,...,1,0,189,3,2,43,0,1,62,19
4,2,1,2053,1165,0,2127,73,0,55298,183665,...,1,0,292,3,2,84,0,1,0,33

## 被説明変数（ターゲット変数）

In [19]:
df_train[target_col].head()

0    0
1    0
2    0
3    0
4    0
Name: click, dtype: int64

In [20]:
y = np.array(df_train[target_col])
X = np.array(df_train[feature_cols])

In [21]:
y

array([0, 0, 0, ..., 0, 0, 0])

In [22]:
X

array([[   2,    0,  260, ...,    1,    0,   19],
       [   2,    0,  260, ...,    1,   62,   19],
       [   2,    0,  260, ...,    1,   62,   19],
       ...,
       [   2,    1,  589, ...,    1,   61,   19],
       [   2,    0, 2065, ...,    2,    0,   33],
       [   2,    0, 1110, ...,    9,    0,    5]])

# モデルの作成

In [23]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.grid_search import GridSearchCV
from sklearn.cross_validation import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [24]:
X_train, X_test, y_train, y_test = \
 train_test_split(X, y, test_size=0.3, random_state=1234)

In [25]:
X_train1, X_train2, y_train1, y_train2 = \
 train_test_split(X_train, y_train, test_size=0.3, random_state=1234)

## ランダムフォレスト

In [26]:
rf = RandomForestRegressor(random_state=1234)
rf.fit(X_train1, y_train1)
y_pred2 = rf.predict(X_train2)
rf_mse = mean_squared_error(y_train2, y_pred2)
print('Random Forest RMSE: ', np.sqrt(rf_mse))

Random Forest RMSE:  0.37375686211632386

In [27]:
print(accuracy_score(y_pred2.round(), y_train2,normalize=False))

171837

## 変数増加法で変数選択をしてみる

In [28]:
def get_gfs_feature_indices(X, y, features, clf):
    X_train_, X_test_, y_train_, y_test_ = \
        train_test_split(X, y, test_size=0.3, random_state=1234)
    
    #どの特徴量が何列目にあるかを辞書型で保持
    feature_indices = {feature: idx for idx, feature in enumerate(features)}
   
    # 特徴量をユニークにする
    features = set(features)
    
    # 評価（MSE）の初期化
    last_mse = np.inf
    
    #選ばれた特徴量を保存するための空集合を用意
    chosen_features = set()

    while len(chosen_features) < len(features):
        mse_features = []
        
        # 集合は引き算すると差集合
        for feature in (features - chosen_features):
            candidates = chosen_features.union(set([feature]))
            indices = [feature_indices[feature] for feature in candidates]
            clf.fit(X_train_[:, indices], y_train_)
            y_pred = clf.predict(X_test_[:, indices])
            mse = mean_squared_error(y_test_, y_pred)
            mse_features += [(mse, feature)]
        mse, feature = min(mse_features, key= lambda x:x[0])
        
        if mse >= last_mse:
            break
        last_mse = mse
        print('Newly Added Feature: {},\tRMSE Score: {}'.format(feature, np.sqrt(mse)))
        chosen_features.add(feature)
    return [feature_indices[feature] for feature in chosen_features]

In [29]:
selected_feature_index = \
get_gfs_feature_indices(X=X_train, 
                        y=y_train, 
                        features=feature_cols, 
                        clf=RandomForestRegressor(random_state=1234))

Newly Added Feature: site_id,	RMSE Score: 0.35022965878997697
Newly Added Feature: app_id,	RMSE Score: 0.3472055554982287
Newly Added Feature: C21,	RMSE Score: 0.34589629704852803
Newly Added Feature: banner_pos,	RMSE Score: 0.3457620841391571
Newly Added Feature: device_type,	RMSE Score: 0.3457066945428743
Newly Added Feature: app_domain,	RMSE Score: 0.34568057767209454
Newly Added Feature: app_category,	RMSE Score: 0.3456697737240291

## 変数選択後の精度を確認

In [30]:
rf = RandomForestRegressor(random_state=1234)
rf.fit(X_train1[:, selected_feature_index], y_train1)
y_pred2 = rf.predict(X_train2[:, selected_feature_index])
rf_mse = mean_squared_error(y_train2, y_pred2)
print('RandomForest RMSE: ', np.sqrt(rf_mse))

RandomForest RMSE:  0.34566854828095556

In [31]:
print(accuracy_score(y_pred2.round(), y_train2,normalize=False))

176630

In [32]:
rf = RandomForestRegressor(random_state=1234)

In [33]:
params = {'n_estimators': [10, 50, 100], 'max_depth': [5, 10, 50]}

In [34]:
import sklearn 
sklearn.__version__

'0.19.1'

In [35]:
#注意: scikit-learnのバージョンが、0.18の場合は、scoring='neg_mean_squared_error'とします
gscv = GridSearchCV(rf, param_grid=params, verbose=1,
                     cv=3, scoring='neg_mean_squared_error')

In [36]:
gscv.fit(X_train1[:, selected_feature_index], y_train1)

Fitting 3 folds for each of 9 candidates, totalling 27 fits

[Parallel(n_jobs=1)]: Done  27 out of  27 | elapsed: 10.9min finished

GridSearchCV(cv=3, error_score='raise',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=1234, verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_estimators': [10, 50, 100], 'max_depth': [5, 10, 50]},
       pre_dispatch='2*n_jobs', refit=True,
       scoring='neg_mean_squared_error', verbose=1)

In [37]:
gscv.best_params_

{'max_depth': 50, 'n_estimators': 100}

## パラメーターチューニング後のスコア

In [38]:
rf = RandomForestRegressor(n_estimators=100, max_depth=50, random_state=1234)
rf.fit(X_train1[:, selected_feature_index ], y_train1)
y_pred2 = rf.predict(X_train2[:, selected_feature_index])
rf_mse = mean_squared_error(y_train2, y_pred2)
print('RandomForest RMSE: ', np.sqrt(rf_mse))

RandomForest RMSE:  0.3454562845012484

In [39]:
print(accuracy_score(y_pred2.round(), y_train2,normalize=False))

176673

## テストデータへ適用して精度を確認する

In [40]:
rf = RandomForestRegressor(n_estimators=100, max_depth=10, random_state=1234)
rf.fit(X_train[:, selected_feature_index], y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=10,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
           oob_score=False, random_state=1234, verbose=0, warm_start=False)

In [41]:
y_pred_on_test = rf.predict(X_test[:, selected_feature_index])
rf_mse = mean_squared_error(y_test, y_pred_on_test)
print('RandomForest RMSE: ', np.sqrt(rf_mse))

RandomForest RMSE:  0.34549263612584075

In [42]:
print(accuracy_score(y_pred2.round(), y_train2,normalize=False))

176673

## submission用csvの作成

In [43]:
test_fname = 'test.csv'
reader_test = pd.read_csv(test_fname, chunksize=test_kensu)
df_test_origin = reader_test.get_chunk(test_kensu)

In [44]:
df_test = labelencording(df_test_origin)

In [45]:
selected_feature_index2 = [
'id',
'site_id',
'app_id',
'C21',
'banner_pos',
'device_type',
'app_domain',
'app_category'
]

In [46]:
df_test.head()

,id,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,1.000017e+19,14103100,2,0,393,3234,20,3643,94,0,...,1,0,36,3,2,10,3,11,51,4
1,1.000018e+19,14103100,2,0,355,3197,1,3643,94,0,...,1,0,586,3,2,138,0,1,58,10
2,1.000055e+19,14103100,2,0,355,3197,1,3643,94,0,...,1,0,586,3,2,138,0,1,58,10
3,1.000109e+19,14103100,2,0,1491,2590,5,1224,137,3,...,1,0,217,3,2,19,3,29,110,12
4,1.000138e+19,14103100,2,0,1491,2590,5,2403,21,26,...,1,0,759,3,2,159,0,5,0,33

In [48]:
submit_data =  pd.Series(rf.predict(df_test[selected_feature_index2]), name='click', index=df_test_origin['id'].apply(int))
submit_data.to_csv(submit_csv_name, header=True)