- ランダムフォレスト
- データ数　train.csv10000
- test.csv 10000

In [97]:
kensu = 10000
kensu_str = '10000'
submit_csv_name = 'submit_Quantitative_variable_' + kensu_str + '.csv'

## 必要なライブラリを読み込む

In [50]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

## データ用が多いので、絞って読み込み

In [52]:
train_fname = 'train.csv'
reader = pd.read_csv(train_fname, chunksize=kensu)

In [53]:
df_train = reader.get_chunk(kensu)

In [54]:
df_train.shape

(10000, 24)

In [55]:
df_train.head()

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,1000009418151094273,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,2,15706,320,50,1722,0,35,-1,79
1,10000169349117863715,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,100084,79
2,10000371904215119486,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,100084,79
3,10000640724480838376,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15706,320,50,1722,0,35,100084,79
4,10000679056417042096,0,14102100,1005,1,fe8cc448,9166c161,0569f928,ecad2386,7801e8d9,...,1,0,18993,320,50,2161,0,35,-1,157

In [56]:
df_train.columns

Index(['id', 'click', 'hour', 'C1', 'banner_pos', 'site_id', 'site_domain',
       'site_category', 'app_id', 'app_domain', 'app_category', 'device_id',
       'device_ip', 'device_model', 'device_type', 'device_conn_type', 'C14',
       'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21'],
      dtype='object')

## データの欠損値、型、columnsを確認

In [57]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
id                  10000 non-null uint64
click               10000 non-null int64
hour                10000 non-null int64
C1                  10000 non-null int64
banner_pos          10000 non-null int64
site_id             10000 non-null object
site_domain         10000 non-null object
site_category       10000 non-null object
app_id              10000 non-null object
app_domain          10000 non-null object
app_category        10000 non-null object
device_id           10000 non-null object
device_ip           10000 non-null object
device_model        10000 non-null object
device_type         10000 non-null int64
device_conn_type    10000 non-null int64
C14                 10000 non-null int64
C15                 10000 non-null int64
C16                 10000 non-null int64
C17                 10000 non-null int64
C18                 10000 non-null int64
C19                 10000 non-null int64
C20                 10000 non-null int64
C21                 10000 non-null int64
dtypes: int64(14), object(9), uint64(1)
memory usage: 1.8+ MB

## Numericalデータの統計情報

In [58]:
df_train.describe()

,id,click,hour,C1,banner_pos,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
count,1.000000e+04,10000.000000,10000.0,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,9.795641e+18,0.170600,14102100.0,1005.059900,0.195900,1.068200,0.204500,17711.693800,318.478000,56.986400,1967.605900,0.789500,125.622400,37746.299500,88.260300
std,2.853038e+18,0.376178,0.0,1.103193,0.404895,0.601984,0.646469,3139.296362,11.492429,37.425508,385.160315,1.228878,234.039047,48516.401341,45.153569
min,1.004777e+16,0.000000,14102100.0,1001.000000,0.000000,0.000000,0.000000,375.000000,216.000000,36.000000,112.000000,0.000000,35.000000,-1.000000,13.000000
25%,1.024754e+19,0.000000,14102100.0,1005.000000,0.000000,1.000000,0.000000,15704.000000,320.000000,50.000000,1722.000000,0.000000,35.000000,-1.000000,61.000000
50%,1.063018e+19,0.000000,14102100.0,1005.000000,0.000000,1.000000,0.000000,17654.000000,320.000000,50.000000,1993.000000,0.000000,35.000000,-1.000000,79.000000
75%,1.100749e+19,0.000000,14102100.0,1005.000000,0.000000,1.000000,0.000000,20362.000000,320.000000,50.000000,2307.000000,2.000000,39.000000,100083.000000,117.000000
max,1.138513e+19,1.000000,14102100.0,1010.000000,5.000000,5.000000,5.000000,21705.000000,728.000000,480.000000,2497.000000,3.000000,1835.000000,100248.000000,157.000000

## Categoricalデータの統計情報

In [59]:
df_train.describe(include=['O'])

,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,device_ip,device_model
count,10000,10000,10000,10000,10000,10000,10000,10000,10000
unique,381,317,14,313,31,14,1075,7302,1168
top,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,a99f214a,6b9769f2,8a4875bd
freq,3582,3582,3846,7825,8306,7887,8724,86,718

## hour列から　月、日、曜日、時を抜き出すために関数を用意

In [60]:
from datetime import datetime as dt
# hour列から　月、日、曜日、時を抜き出すために関数を用意

def get_month_from_time(x):
    time_date = dt.strptime(str(x), "%y%m%d%H")
    return time_date.month
def get_day_from_time(x):
    time_date = dt.strptime(str(x), "%y%m%d%H")
    return time_date.day
def get_weekday_from_time(x):
    time_date = dt.strptime(str(x), "%y%m%d%H")
    return time_date.weekday()
def get_hour_from_time(x):
    time_date = dt.strptime(str(x), "%y%m%d%H")
    return time_date.hour

In [61]:
def preprocess(df_train):
    
    # 上記で作成した関数をapplyで一括適用
    df_train["hour_month"] = df_train["hour"].apply(get_month_from_time)
    df_train["hour_day"] = df_train["hour"].apply(get_day_from_time)
    df_train["hour_weekday"] = df_train["hour"].apply(get_weekday_from_time)
    df_train["hour_hour"] = df_train["hour"].apply(get_hour_from_time)
   
    # カテゴリ変数からダミー変数の作成
    X = df_train.iloc[:, 0:28]
    colnames_categorical = ['site_id', 'site_domain','site_category', 'app_id', 'app_domain', 'app_category', 'device_id','device_ip', 'device_model']
#    X_dummy = pd.get_dummies(X[colnames_categorical])
#   X = pd.merge(X, X_dummy, left_index=True, right_index=True)
    X = X.drop(colnames_categorical, axis=1)
    
    
    return X

In [62]:
X = preprocess(df_train)

In [63]:
X

,id,click,hour,C1,banner_pos,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21,hour_month,hour_day,hour_weekday,hour_hour
0,1000009418151094273,0,14102100,1005,0,1,2,15706,320,50,1722,0,35,-1,79,10,21,1,0
1,10000169349117863715,0,14102100,1005,0,1,0,15704,320,50,1722,0,35,100084,79,10,21,1,0
2,10000371904215119486,0,14102100,1005,0,1,0,15704,320,50,1722,0,35,100084,79,10,21,1,0
3,10000640724480838376,0,14102100,1005,0,1,0,15706,320,50,1722,0,35,100084,79,10,21,1,0
4,10000679056417042096,0,14102100,1005,1,1,0,18993,320,50,2161,0,35,-1,157,10,21,1,0
5,10000720757801103869,0,14102100,1005,0,1,0,16920,320,50,1899,0,431,100077,117,10,21,1,0
6,10000724729988544911,0,14102100,1005,0,1,0,20362,320,50,2333,0,39,-1,157,10,21,1,0
7,10000918755742328737,0,14102100,1005,1,1,0,20632,320,50,2374,3,39,-1,23,10,21,1,0
8,10000949271186029916,1,14102100,1005,0,1,2,15707,320,50,1722,0,35,-1,79,10,21,1,0
9,10001264480619467364,0,14102100,1002,0,0,0,21689,320,50,2496,3,167,100191,23,10,21,1,0
10,10001868339616595934,0,14102100,1005,1,1,0,17747,320,50,1974,2,39,100019,33,10,21,1,0
11,10001966791793526909,0,14102100,1005,0,1,0,15701,320,50,1722,0,35,-1,79,10,21,1,0
12,10002028568167339219,0,14102100,1005,0,1,2,20596,320,50,2161,0,35,100148,157,10,21,1,0
13,10002044883120869786,0,14102100,1005,0,1,0,19771,320,50,2227,0,687,100077,48,10,21,1,0
14,10002518649031436658,0,14102100,1005,0,1,0,20984,320,50,2371,0,551,-1,46,10,21,1,0
15,10003539039235338011,0,14102100,1005,0,1,0,15699,320,50,1722,0,35,100084,79,10,21,1,0
16,10003585669470236873,0,14102100,1005,0,1,0,17914,320,50,2043,2,39,-1,32,10,21,1,0
17,10004105575081229495,0,14102100,1005,0,1,2,15708,320,50,1722,0,35,100084,79,10,21,1,0
18,10004181428767727519,0,14102100,1005,1,1,0,6558,320,50,571,2,39,-1,32,10,21,1,0
19,10004482643316086592,0,14102100,1005,0,1,0,21234,320,50,2434,3,163,100088,61,10,21,1,0
20,10004510652136496837,0,14102100,1005,0,1,0,20352,320,50,2333,0,39,-1,157,10,21,1,0
21,10004574413841529209,0,14102100,1005,0,1,0,15706,320,50,1722,0,35,-1,79,10,21,1,0
22,10004670021948955159,0,14102100,1005,0,1,0,20366,320,50,2333,0,39,-1,157,10,21,1,0
23,10004765361151096125,1,14102100,1005,0,1,0,15701,320,50,1722,0,35,-1,79,10,21,1,0
24,10005249248600843539,0,14102100,1005,0,1,0,15706,320,50,1722,0,35,100083,79,10,21,1,0
25,10005334911727438633,0,14102100,1010,1,4,0,21665,320,50,2493,3,35,-1,117,10,21,1,0
26,10005541670676403131,0,14102100,1005,1,1,0,20984,320,50,2371,0,551,100217,46,10,21,1,0
27,10005609489911213467,1,14102100,1005,0,1,0,21611,320,50,2480,3,297,100111,61,10,21,1,0
28,10005649443863261125,0,14102100,1005,0,1,0,20366,320,50,2333,0,39,-1,157,10,21,1,0
29,10005951398749600249,0,14102100,1005,0,1,0,15706,320,50,1722,0,35,-1,79,10,21,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,11381753416173026584,1,14102100,1005,1,1,0,19950,320,50,1800,3,167,100075,23,10,21,1,0
9971,11381782417576225396,0,14102100,1005,0,1,0,15705,320,50,1722,0,35,-1,79,10,21,1,0
9972,11381870277272078499,0,14102100,1005,0,1,0,15705,320,50,1722,0,35,-1,79,10,21,1,0
9973,11381903985522193204,1,14102100,1005,0,1,0,15705,320,50,1722,0,35,100084,79,10,21,1,0
9974,11381953751483827882,0,14102100,1005,0,1,0,19665,320,50,2253,2,303,-1,52,10,21,1,0
9975,11382167562326792310,0,14102100,1005,0,1,0,20633,320,50,2374,3,39,100148,23,10,21,1,0
9976,11382435200700172280,0,14102100,1010,1,4,0,21665,320,50,2493,3,35,-1,117,10,21,1,0
9977,1138256257652320240,0,14102100,1005,0,1,0,20596,320,50,2161,0,35,-1,157,10,21,1,0
9978,1138274434669433642,0,14102100,1005,0,1,0,15702,320,50,1722,0,35,-1,79,10,21,1,0
9979,11382767280016892883,0,14102100,1005,0,1,0,15705,320,50,1722,0,35,-1,79,10,21,1,0
9980,11382880873315444679,1,14102100,1005,0,1,0,15701,320,50,1722,0,35,100084,79,10,21,1,0
9981,11382924962510820322,0,14102100,1005,0,1,0,18993,320,50,2161,0,35,-1,157,10,21,1,0
9982,11383094047050182970,0,14102100,1005,0,1,0,15706,320,50,1722,0,35,-1,79,10,21,1,0
9983,11383099210239805104,0,14102100,1005,0,1,0,18993,320,50,2161,0,35,-1,157,10,21,1,0
9984,11383179114829304126,0,14102100,1005,0,1,0,15702,320,50,1722,0,35,-1,79,10,21,1,0
9985,11383283883489932573,0,14102100,1005,0,1,0,20596,320,50,2161,0,35,-1,157,10,21,1,0
9986,11383654056843215893,0,14102100,1005,0,1,2,20596,320,50,2161,0,35,100162,157,10,21,1,0
9987,11383762881420286981,0,14102100,1005,0,1,0,17914,320,50,2043,2,39,100084,32,10,21,1,0
9988,11383812343256589979,0,14102100,1005,0,1,0,15704,320,50,1722,0,35,-1,79,10,21,1,0
9989,1138383546331492258,0,14102100,1005,0,1,0,15703,320,50,1722,0,35,100084,79,10,21,1,0
9990,11383962831054214269,1,14102100,1005,1,1,0,17753,320,50,1993,2,1063,-1,33,10,21,1,0
9991,11383989711374719391,0,14102100,1005,0,1,0,19665,320,50,2253,2,303,-1,52,10,21,1,0
9992,11384000163315307352,0,14102100,1005,0,1,0,15707,320,50,1722,0,35,100083,79,10,21,1,0
9993,11384045412237430076,0,14102100,1005,0,1,0,15705,320,50,1722,0,35,-1,79,10,21,1,0
9994,11384109867079530222,0,14102100,1005,0,1,0,16859,320,50,1887,3,39,-1,23,10,21,1,0
9995,11384293714617058397,0,14102100,1005,0,1,0,17654,300,250,1994,2,39,100083,33,10,21,1,0
9996,11384401992895341158,1,14102100,1005,0,1,0,15701,320,50,1722,0,35,-1,79,10,21,1,0
9997,11384416194059429451,1,14102100,1005,1,1,0,16920,320,50,1899,0,431,-1,117,10,21,1,0
9998,11384658010851781062,0,14102100,1005,0,1,0,21611,320,50,2480,3,297,100111,61,10,21,1,0
9999,11385134388253617231,0,14102100,1005,0,1,0,18945,320,50,2153,3,427,100063,61,10,21,1,0

## ターゲット変数と特徴量を指定してsklearnに渡せるように準備する

In [64]:
target_col = 'click'
exclude_cols = ['click', 'id', 'hour']
feature_cols = [col for col in X.columns if col not in exclude_cols]

In [65]:
feature_cols

['C1',
 'banner_pos',
 'device_type',
 'device_conn_type',
 'C14',
 'C15',
 'C16',
 'C17',
 'C18',
 'C19',
 'C20',
 'C21',
 'hour_month',
 'hour_day',
 'hour_weekday',
 'hour_hour']

## 説明変数（特徴量）

In [66]:
X[feature_cols].head()

,C1,banner_pos,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21,hour_month,hour_day,hour_weekday,hour_hour
0,1005,0,1,2,15706,320,50,1722,0,35,-1,79,10,21,1,0
1,1005,0,1,0,15704,320,50,1722,0,35,100084,79,10,21,1,0
2,1005,0,1,0,15704,320,50,1722,0,35,100084,79,10,21,1,0
3,1005,0,1,0,15706,320,50,1722,0,35,100084,79,10,21,1,0
4,1005,1,1,0,18993,320,50,2161,0,35,-1,157,10,21,1,0

## 被説明変数（ターゲット変数）

In [67]:
X[target_col].head()

0    0
1    0
2    0
3    0
4    0
Name: click, dtype: int64

In [68]:
y = np.array(X[target_col])
X = np.array(X[feature_cols])

In [69]:
y

array([0, 0, 0, ..., 1, 0, 0])

In [70]:
X

array([[1005,    0,    1, ...,   21,    1,    0],
       [1005,    0,    1, ...,   21,    1,    0],
       [1005,    0,    1, ...,   21,    1,    0],
       ...,
       [1005,    1,    1, ...,   21,    1,    0],
       [1005,    0,    1, ...,   21,    1,    0],
       [1005,    0,    1, ...,   21,    1,    0]])

# モデルの作成

In [71]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.grid_search import GridSearchCV
from sklearn.cross_validation import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

In [72]:
X_train, X_test, y_train, y_test = \
 train_test_split(X, y, test_size=0.3, random_state=1234)

In [73]:
X_train1, X_train2, y_train1, y_train2 = \
 train_test_split(X_train, y_train, test_size=0.3, random_state=1234)

## ランダムフォレスト

In [74]:
rf = RandomForestRegressor(random_state=1234)
rf.fit(X_train1, y_train1)
y_pred2 = rf.predict(X_train2)
rf_mse = mean_squared_error(y_train2, y_pred2)
print('Random Forest RMSE: ', np.sqrt(rf_mse))

Random Forest RMSE:  0.38482428652576695

In [75]:
print(accuracy_score(y_pred2.round(), y_train2,normalize=False))

1699

## 変数増加法で変数選択をしてみる

In [76]:
def get_gfs_feature_indices(X, y, features, clf):
    X_train_, X_test_, y_train_, y_test_ = \
        train_test_split(X, y, test_size=0.3, random_state=1234)
    
    #どの特徴量が何列目にあるかを辞書型で保持
    feature_indices = {feature: idx for idx, feature in enumerate(features)}
   
    # 特徴量をユニークにする
    features = set(features)
    
    # 評価（MSE）の初期化
    last_mse = np.inf
    
    #選ばれた特徴量を保存するための空集合を用意
    chosen_features = set()

    while len(chosen_features) < len(features):
        mse_features = []
        
        # 集合は引き算すると差集合
        for feature in (features - chosen_features):
            candidates = chosen_features.union(set([feature]))
            indices = [feature_indices[feature] for feature in candidates]
            clf.fit(X_train_[:, indices], y_train_)
            y_pred = clf.predict(X_test_[:, indices])
            mse = mean_squared_error(y_test_, y_pred)
            mse_features += [(mse, feature)]
        mse, feature = min(mse_features, key= lambda x:x[0])
        
        if mse >= last_mse:
            break
        last_mse = mse
        print('Newly Added Feature: {},\tRMSE Score: {}'.format(feature, np.sqrt(mse)))
        chosen_features.add(feature)
    return [feature_indices[feature] for feature in chosen_features]

In [77]:
selected_feature_index = \
get_gfs_feature_indices(X=X_train, 
                        y=y_train, 
                        features=feature_cols, 
                        clf=RandomForestRegressor(random_state=1234))

Newly Added Feature: C17,	RMSE Score: 0.3713334108290233
Newly Added Feature: banner_pos,	RMSE Score: 0.37031224245421707
Newly Added Feature: C15,	RMSE Score: 0.3702732871232813
Newly Added Feature: C19,	RMSE Score: 0.37023354026421307
Newly Added Feature: hour_month,	RMSE Score: 0.3701613835318744

## 変数選択後の精度を確認

In [78]:
rf = RandomForestRegressor(random_state=1234)
rf.fit(X_train1[:, selected_feature_index], y_train1)
y_pred2 = rf.predict(X_train2[:, selected_feature_index])
rf_mse = mean_squared_error(y_train2, y_pred2)
print('RandomForest RMSE: ', np.sqrt(rf_mse))

RandomForest RMSE:  0.3702361030281234

In [79]:
print(accuracy_score(y_pred2.round(), y_train2,normalize=False))

1719

In [80]:
rf = RandomForestRegressor(random_state=1234)

In [81]:
params = {'n_estimators': [10, 50, 100], 'max_depth': [5, 10, 50]}

In [82]:
import sklearn 
sklearn.__version__

'0.19.1'

In [83]:
#注意: scikit-learnのバージョンが、0.18の場合は、scoring='neg_mean_squared_error'とします
gscv = GridSearchCV(rf, param_grid=params, verbose=1,
                     cv=3, scoring='neg_mean_squared_error')

In [84]:
gscv.fit(X_train1[:, selected_feature_index], y_train1)

Fitting 3 folds for each of 9 candidates, totalling 27 fits

[Parallel(n_jobs=1)]: Done  27 out of  27 | elapsed:    2.5s finished

GridSearchCV(cv=3, error_score='raise',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=1234, verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_estimators': [10, 50, 100], 'max_depth': [5, 10, 50]},
       pre_dispatch='2*n_jobs', refit=True,
       scoring='neg_mean_squared_error', verbose=1)

In [85]:
gscv.best_params_

{'max_depth': 5, 'n_estimators': 100}

## パラメーターチューニング後のスコア

In [86]:
rf = RandomForestRegressor(n_estimators=100, max_depth=5, random_state=1234)
rf.fit(X_train1[:, selected_feature_index ], y_train1)
y_pred2 = rf.predict(X_train2[:, selected_feature_index])
rf_mse = mean_squared_error(y_train2, y_pred2)
print('RandomForest RMSE: ', np.sqrt(rf_mse))

RandomForest RMSE:  0.37170502951273876

In [87]:
print(accuracy_score(y_pred2.round(), y_train2,normalize=False))

1722

## テストデータへ適用して精度を確認する

In [88]:
rf = RandomForestRegressor(n_estimators=100, max_depth=5, random_state=1234)
rf.fit(X_train[:, selected_feature_index], y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=5,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
           oob_score=False, random_state=1234, verbose=0, warm_start=False)

In [89]:
y_pred_on_test = rf.predict(X_test[:, selected_feature_index])
rf_mse = mean_squared_error(y_test, y_pred_on_test)
print('RandomForest RMSE: ', np.sqrt(rf_mse))

RandomForest RMSE:  0.3714875809256613

In [90]:
print(accuracy_score(y_pred2.round(), y_train2,normalize=False))

1722

## submission用csvの作成

In [91]:
test_fname = 'test.csv'
reader_test = pd.read_csv(test_fname, chunksize=kensu)
df_test_origin = reader_test.get_chunk(kensu)

In [92]:
df_test = preprocess(df_test_origin)

In [95]:
selected_feature_index2 = [
'C17',
'banner_pos',
'C15',
'C19',
'hour_month'   
]

In [98]:
submit_data =  pd.Series(rf.predict(df_test[selected_feature_index2]), name='click', index=df_test_origin['id'])
submit_data.to_csv(submit_csv_name, header=True)